.addres .link-addres {
    color: $title-text-color;
    display: flex;
  
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
  
    transition: $transition-argument;
  }
  
  .link-addres {
    display: flex;  
    align-items: center;
  
  &:hover,
  &:focus {
  color: $accent-color;
}

  &:hover .hover {
  fill: $accent-color;
}
  &:hover .icon-phone {
  fill: $accent-color;
}
  }

.addres {
  margin-left: auto;
}