.features {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .features-item {
    display: flex;
  }
  .features-item .item {
    width: 270px;
  }
  .features-item .item-icon:not(:last-child) {
    margin-right: 30px;
  }

  .features .title {
    color: $primary-text-color;
  }
  .features .item-box {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .item-box:nth-child(3n) {
    margin-right: 0px;
  }
  
  .item-box:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .features-tex {
    margin-left: 24px;
  }
  .icon-client:not(:last-child) {
    margin-right: 30px;
  }
  
  .icon-hover-link {
    background-color: $white-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $color-icon;
    border-radius: 4px;
    margin-bottom: 94px;
  
    transition: $transition-argument;
  }
  .icon-hover-link:hover,
  .icon-hover-link:focus {
    border: 1px solid $accent-color;
  }
  .clients-icon {
    fill: $color-icon;
    transition: $transition-argument;
  }
  
  .icon-hover-link:hover .clients-icon {
    fill: $accent-color;
  }

  .features-tex {
    margin-left: 24px;
  }
 