.logo {
    color: $primary-text-color;
  
    font-family: $logo-font;
    font-weight: 700;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
  }
  
  .logoblue {
    color: $accent-color;
  }