ul {
    list-style: none;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  body {
    background-color: $white-text-color;
    color: $primary-text-color;
  
    font-family: $defaut-font;
    letter-spacing: 0.03em;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .flexbox {
    display: flex;
    align-items: center;
  }

  .alfa {
    color: $alfa-color;
    text-decoration: none;
  }

  a {
    list-style: none;
    text-decoration: none;
  }