.section-comand {
    background-color: $comand-color;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section-comand {
    font-size: 36px;
    line-height: 1.17;
  
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .section-title {
    color: $primary-text-color;
  }
  
  .section {
    margin-bottom: 94px;
  
  
  &.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}