    $defaut-font: Roboto, sans-serif;
    $logo-font: Raleway, cursive;

    $transition-argument: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    $primary-text-color: #212121;
    $title-text-color: #757575;
    $accent-color: #2196f3;
    $white-text-color: #ffffff;
    $hero-color: #2f303a;
    $alfa-color: rgba(255, 255, 255, 0.6);
    $comand-color: #f5f4fa;
    $button-partfolio-colot: #f5f4fa;
    $background-item: #f5f4fa;
    $color-icon: #afb1b8;
    $hover-partfolio: rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  